<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Blog App</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style/main.css">
    </head>
    <body>
        <header>
            <div id="nav-bar">
                <div id="logo-nav" class="logo icon"></div>
                <div id="add-btn"><button class="btn nav-btn"><img src="images/Plus.svg" alt="plus icon" ></button> </div>
                
                
                <div id="edit-btn"><button class="btn nav-btn"><img src="images/Edit.svg" alt="edit icon" ></button> </div>
                <div id="del-btn"><button class="btn nav-btn"><img src="images/Delate.svg" alt="del icon" ></button></div>
                

                <div id="home-btn"><button class="btn nav-btn"><img src="images/Home.svg" alt="home icon" onclick="window.location='/'"></button> </div>
            </div>
        </header>
